* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
ul li {
  list-style: none;
}

#container .wrap {
  width: 350px;
  height: 700px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  background: #ddeeee;
}
#container .wrap .con {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  padding: 15px;
}
#container .wrap .con .title {
  padding-top: 8px;
  text-align: center;
  font-size: 20px;
  color: #009999;
  margin-top: 13px;
}
#container .wrap .con .head .num {
  display: block;
  float: left;
  background: #f00f00;
  width: 50px;
  height: 20px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  margin-right: 100px;
}
#container .wrap .con .head .address {
  display: block;
  float: left;
}
#container .wrap .con .article {
  float: left;
  width: 400px;
}
#container .wrap .con .article ul {
  margin-top: 20px;
}
#container .wrap .con .article ul li {
  float: left;
  height: 100px;
  width: 10px;
  margin-right: 30px;
}
#container .wrap .con .foot {
  float: left;
  margin-bottom: 6px;
}
#container .wrap .con .foot .line {
  width: 200px;
  height: 5px;
  background: #f00f00;
  float: left;
  margin-top: 2px;
}
#container .wrap .con .foot .triangle {
  float: right;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #f00f00;
  border-bottom: 5px solid transparent;
}

@-moz-document url-prefix() {
  .title {
    margin-bottom: -20px;
  }

  .foot {
    margin-top: 2px;
  }
}
